.product-container{
    display: flex;
    margin: 15px 0px;
    margin-left: 100px;
    padding: 5px 5px;
    border-radius: 5px;

}

/* .image-container{
    background-color: #fff;
    padding: 10px 0px;
    text-align: center;
} */

.image-size{
    width: 10px;
    height: 10px
}


.detailContainer{
    margin: 0px 20px;
}

.details{
    width:140px
}

.options{
    width:220px;
    margin-left:80px;
}
.btn{
    border-radius: none;
    margin: 0px 5px;
    padding: 2px 10px;
    font-size:12 px;
}